

[class^="cp-"], [class*=" cp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'chelsea-piers' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-icon-modalClose:before {
  content: "\e924";
}

.cp-icon-iconPlus:before {
  content: "\e923";
}

.cp-icon-apple:before {
  content: "\e921";
}

.cp-icon-google-play:before {
  content: "\e922";
}

.cp-icon-facebook:before {
  content: "\e91c";
  
}
.cp-icon-linkedIn:before {
  content: "\e91d";
  
}
.cp-icon-twitter:before {
  content: "\e91e";
  
}
.cp-icon-youtube:before {
  content: "\e91f";
  
}
.cp-icon-instagram:before {
  content: "\e920";
  
}

.cp-icon-Account:before {
  content: "\e900";
}
.cp-icon-arraySmallLeft:before {
  content: "\e901";
}
.cp-icon-arrowBigLeft:before {
  content: "\e902";
}
.cp-icon-Barbell:before {
  content: "\e903";
}
.cp-icon-Basketball:before {
  content: "\e904";
}
.cp-icon-CheckCircle:before {
  content: "\e905";
}
.cp-icon-Close:before {
  content: "\e906";
}
.cp-icon-Cycling:before {
  content: "\e907";
}
.cp-icon-Dot-Grid:before {
  content: "\e908";
}
.cp-icon-Email:before {
  content: "\e909";
}
.cp-icon-Filter:before {
  content: "\e90a";
}
.cp-icon-Font-Awesome:before {
  content: "\e90b";
}
.cp-icon-Gift:before {
  content: "\e90c";
}
.cp-icon-ID:before {
  content: "\e90d";
}
.cp-icon-Lotus:before {
  content: "\e90e";
}
.cp-icon-MapPin:before {
  content: "\e90f";
}
.cp-icon-Menu:before {
  content: "\e910";
}
.cp-icon-People:before {
  content: "\e911";
}
.cp-icon-Phone:before {
  content: "\e912";
}
.cp-icon-Pool:before {
  content: "\e913";
}
.cp-icon-Running:before {
  content: "\e914";
}
.cp-icon-Search:before {
  content: "\e915";
}
.cp-icon-Soccer:before {
  content: "\e916";
}
.cp-icon-Soccer-Field:before {
  content: "\e917";
}
.cp-icon-Swimming:before {
  content: "\e918";
}
.cp-icon-Vector:before {
  content: "\e919";
}
.cp-icon-Volleyball:before {
  content: "\e91a";
}
.cp-icon-Wine:before {
  content: "\e91b";
}
